---
import Hero from "../components/hero.astro";
import Navigation from "../components/navigation.astro";
import Layout from "../layouts/Layout.astro";
import Products from "../components/products.astro";
import Banner from "../components/banner.astro";
import About from "../components/about.astro";
import Gallery from "../components/gallery.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Splash">
	<main>
		<Navigation />
		<Hero />
		<Products />
		<Banner />
		<About />
		<Gallery />
		<Footer />
	</main>
</Layout>

<style>
	main {
		background-color: #e3f1fb;
		min-height: 100vh;
		padding-top: 2rem;
	}
</style>
