---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Splash " />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init({
				duration: 800,
				once: true,
			});
		</script>
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,
	body {
		overflow-x: hidden;
		position: relative;
		width: 100%;
		scroll-behavior: smooth;
	}

	body {
		font-family: "DM Sans", system-ui, sans-serif;
		background-color: #f2f5fa;
	}

	.container {
		width: 100%;
		padding: 0 1rem;
		margin: 0 auto;
		max-width: 1200px;
	}

	@media (min-width: 768px) {
		.container {
			padding: 0 2rem;
		}
	}
</style>
